#three-column {
  display: flex;
  justify-content: space-between;
  height: 100vh;
}

#source, #slides {
  flex: 2;
  padding: 20px;
}

#convertButton {
  flex: 0 0 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

#rawTextArea {
  width: 100%;
  height: 100%;
  resize: none;
}

#slides {
  overflow-y: scroll;
}
